<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <form action="{% url 'inventory:inventory' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Product Details</h2></legend>
            {% if error_message %}<strong>{{ error_message }}</strong><br>{% endif %}
            <input type="text" name="brand" placeholder="Brand Name">
            <input type="text" name="catagory" placeholder="Catagory">
            <input type="text" name="name" placeholder="Name">
            <input type="date" name="manufactured">
            <input type="number" name="quantity" placeholder="Quantity">
        </fieldset>
        <input type="submit" value="Create">
    </form>
    <table>
        <thead>
            <tr>
                <th>Sl.</th>
                <th>UUID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Catagory</th>
                <th>Manufactured</th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'inventory:item' item.serial %}">{{ item.serial }}</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.catagory }}</td>
                    <td>{{ item.manufactured }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>